@-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }


  @-webkit-keyframes scale-out-hor-right {
    0% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-out-hor-right {
    0% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
        }
  
  @-webkit-keyframes entrance {
        0% {
          -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
          opacity: 0;
        }
      
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
  }
      
      @keyframes entrance {
        0% {
          -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
          opacity: 0;
        }
      
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
      }
      
      @-webkit-keyframes exit {
        0% {
          -webkit-transform: translateX(15px);
          transform: translateX(15px);
          opacity: 0;
        }
      
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
      }
      
      @keyframes exit {
        0% {
          -webkit-transform: translateX(15px);
          transform: translateX(15px);
          opacity: 0;
        }
      
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
      }

            @-webkit-keyframes entrance-in-left {
        0% {
          -webkit-transform: translateX(-50px);
                  transform: translateX(-50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes entrance-in-left {
        0% {
          -webkit-transform: translateX(-50px);
                  transform: translateX(-50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      
      @-webkit-keyframes entrance-in-right {
        0% {
          -webkit-transform: translateX(50px);
                  transform: translateX(50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
            @keyframes entrance-in-right {
        0% {
          -webkit-transform: translateX(50px);
                  transform: translateX(50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }

      @-webkit-keyframes exit-in-left {
        0% {
          -webkit-transform: translateX(-50px);
                  transform: translateX(-50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes exit-in-left {
        0% {
          -webkit-transform: translateX(-50px);
                  transform: translateX(-50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      
      @-webkit-keyframes exit-in-right {
        0% {
          -webkit-transform: translateX(50px);
                  transform: translateX(50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes exit-in-right {
        0% {
          -webkit-transform: translateX(50px);
                  transform: translateX(50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      